# Ignora los archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignora los archivos de configuración del editor
*.sublime*
*.swp
*.swo
*.swn
.idea/
.vscode/

# Ignora los archivos de construcción y paquetes
*.o
*.exe
*.dll
*.so
*.dylib
*.jar
*.pyc
*.class
/target/
/dist/
/build/
/node_modules/

# Ignora los archivos de registro y bases de datos
*.log
*.sql
*.sqlite
*.mdf
*.ldf

# Ignora los archivos de entorno
.env

# Ignora los archivos y directorios específicos de tu proyecto
.vs/
*.suo
library/obj/
proWeb/obj/
proWeb/bin/
proWeb/obj/Debug
library/bin/
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
proWeb/obj/Release/

